<div class="dice-roll rt87-roll">
  <div class="dice-result">
    {{!-- display the raw dice if you like --}}
    <div class="dice-formula">{{roll.formula}}</div>
    <div class="dice-total">{{roll.total}}</div>
  </div>

  {{!-- pass/fail --}}
  <div class="rt87-outcome">
    {{#if roll.total}}
      <span class="pass">Pass!</span>
    {{else}}
      <span class="fail">Fail!</span>
    {{/if}}
  </div>
</div>