<div class="dice-roll rt87-roll">
  <div class="dice-result">
    <div class="dice-formula">{{roll.formula}}</div>
    {{!-- compare roll.total to the passed dc from dataset --}}
    <div
      class="dice-total {{#if (lte roll.total roll.options.dc)}}pass{{else}}fail{{/if}}"
    >
      {{roll.total}}
    </div>
  </div>

  <div class="rt87-outcome">
    {{#if (lte roll.total roll.options.dc)}}
      <span class="pass">Pass!</span>
    {{else}}
      <span class="fail">Fail!</span>
    {{/if}}
  </div>
</div>